

.formBox{
    display: flex;
    background-color:#D2B48C;

    border: 10px solid #8B4513;
    min-width: 1650px;
    justify-content: center;

}
.form{
    margin-top: 5px;
    margin-bottom: 5px;


    display: flex;
    flex-direction: column;
    align-content: space-around;
    min-width: 1000px;
    max-width: 2000px;
}

.inputBox {
    border-bottom: 8px, black;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    background-color: white;
}