
.body{
  background-color:#CD853F;

}

.App {
  align-items: center;
}

.navbar {
  float: center;
  display: block;
  align-items: center;
  list-style-type: none;
  background-color: #556B2F;

  
  margin: 0;
  padding: 10px;
}

li {
  display: inline-block;
  align-items: center;
}

li a{
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover{
  background-color: black;
  border-radius: 5px;
}

.form {
  float: center;
  display: block;
  text-align: center;
  align-items: left;
}